<div>
  <p><strong>Name:</strong> {$contact->name}</p>
  <p><strong>Address:</strong> {$contact->address}</p>
  <p><strong>IČO:</strong> {$contact->ico}</p>
  <p><strong>Phone:</strong> {$contact->phone}</p>
  <p><strong>Email:</strong> {$contact->email}</p>
  <p><strong>Map Embed:</strong> {$contact->map_embed|noescape}</p>
  {control contactForm}
</div>
