<div>
  <table class="table">
    <thead>
      <tr>
        <th>Label</th>
        <th>Content</th>
        <th>Ordering</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {foreach $offerings as $offer}
      <tr>
        <td>{$offer->label}</td>
        <td>{$offer->content}</td>
        <td>{$offer->ordering}</td>
        <td><a href="{link editOffering, id => $offer->id}">Edit</a></td>
      </tr>
      {/foreach}
    </tbody>
  </table>
</div>
